
html 
{  
  background: #dbdbdb;
  color: #000000     
}

h1 , h2 , h3 , h4 , h5
{
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
}

a
{
  text-decoration: none;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
  color: rgb(38, 0, 109);
}

a:hover
{
  color: rgb(61, 0, 173);
}

.navigationBar ul{
  /* list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1; */

  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10em;
  background-color: #0f0f0f;
  height: 100%; /* Full height */
  position: fixed;
  overflow: auto;
}

.navigationBar li a {
  display: block;
  color: rgb(196, 196, 196);
  padding: 8px 16px;
  text-decoration: none;
}


.navigationBar li a:hover {
  background-color: rgb(112, 0, 204);
  color: rgb(219, 219, 219);
  
}

.navigationBar li  a.active {
  background-color: #4CAF50;
  color: white;
}

.navigationBody
{
  margin-left:10em;
  padding: 5px 200px 10px 25px;
  height:1000px;
}

.contentBox
{       
    background-color: #a9a6aa;
    background-image: linear-gradient( to right , #c4c4c4, #d4d4d4);
    border-radius: 10px;
    border-style: outset;
    border-width: thin;
    border-color: rgba(0, 0, 0, 0.4);
    /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4); */
}

.contentBox p , .tip p
{       
  text-align: left;
  padding: 5px 5px 5px 15px;
}



.tip
{       
    background-color: #a9a6aa;
    background-image: linear-gradient( to right , #c4c4c4, #d4d4d4);
    border-radius: 10px;
    border-style: dashed;
    border-width: thin;
    border-color: rgba(0, 0, 0, 0.4);
}