
.navigationBar ul{
  /* list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1; */

  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10em;
  background-color: #000000;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

.navigationBar li a {
  display: block;
  color: rgb(196, 196, 196);
  padding: 8px 16px;
  text-decoration: none;
}


.navigationBar li a:hover {
  background-color: rgb(112, 0, 204);
  color: rgb(219, 219, 219);
}

.navigationBar li  a.active {
  background-color: #4CAF50;
  color: white;
}

.navigationBody
{
  margin-left:10em;
  padding: 5px 200px 10px 25px;
  height:1000px;
}